apiVersion: v1
kind: Service
metadata:
  name: tekton-app-lb
  annotations:
    service.beta.kubernetes.io/azure-dns-label-name: tekton-prod
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
