apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: tekton-app-staging

namespace: tekton-staging

resources:
  - ../../base

labels:
  - pairs:
      environment: staging
    includeSelectors: true

images:
  - name: acrtektondev.azurecr.io/tekton-app
    newName: acrtektondev.azurecr.io/tekton-app
    newTag: staging

patches:
  - path: patch-replicas.yaml
  - path: patch-resources.yaml
  - path: patch-configmap.yaml
  - path: patch-service.yaml
