apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: tekton-app-staging

namespace: tekton-staging

resources:
  - ../../base

labels:
  - pairs:
      environment: staging
    includeSelectors: true

images:
  - name: acrtektondev.azurecr.io/tekton-app
    newName: acrtektondev.azurecr.io/tekton-app
    newTag: staging

patchesJson6902:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: tekton-app
    path: patch-replicas.yaml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: tekton-app
    path: patch-resources.yaml
  - target:
      version: v1
      kind: ConfigMap
      name: tekton-app-config
    path: patch-configmap.yaml
  - target:
      version: v1
      kind: Service
      name: tekton-app-lb
    path: patch-service.yaml
